.user-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-details h2 {
  margin: 0;
  font-size: 22px;
}

.user-details p {
  opacity: 0.7;
}
